# Module 1

   ### Welcome to the Answer notebook for Module 1 ! 
These notebooks have been provided to code and solve all the queries asked in the modules.

This environment has all the necessary libraries pre-installed, and all the Stock, Commodities and Index data files available at the following location -

#### The problem statements and their corresponding answers are expected to be in the following format -

#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#

### Query 1.1 
Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [1]:
#The solution code should start right after the query statement, for example -
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
#And solve the query

In [2]:
#Once the solution of the first query is written, it should immediately be followed by the next query
data = pd.read_csv("INFY.csv")

data = data[(data == "EQ").any(axis=1)]
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

Query 1.2
Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [3]:
last90_data = data.tail(n=90)
print("Maximum value for last 90 days is :",last90_data["Close Price"].min())
print("Minimum value for last 90 days is :", last90_data["Close Price"].max())
print("Mean value for last 90 days is : ",last90_data["Close Price"].mean())

Maximum value for last 90 days is : 658.95
Minimum value for last 90 days is : 767.25
Mean value for last 90 days is :  728.6027777777778

Query 1.3 Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [4]:
data.dtypes
data["Date"] = pd.to_datetime(data['Date'])
a = data["Date"].min()
b= data["Date"].max()
b-a

Timedelta('728 days 00:00:00')

Query 1.4 In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. 
( VWAP = sum(price*volume)/sum(volume) )

In [5]:
data['month'] = data.Date.dt.month_name()
data['year'] = data.Date.dt.year
data.head()
#data.groupby(data['Date'].dt.strftime('%B'))['Close Price'].sum().sort_values()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,May,2017
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,May,2017
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,May,2017
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,May,2017
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,May,2017

In [6]:
# groupby each 1 month
dm = data.groupby(pd.Grouper(key='Date', freq='1M')).sum()
dm.index = dm.index.strftime('%B')
price_permonth = dm["Close Price"]
# groupby each year
dy = data.groupby(pd.Grouper(key='Date', freq='1Y')).sum() 
dy.index = dy.index.strftime('%B')
price_peryear = dy["Close Price"]

In [7]:
vp = data["Close Price"]*data["Total Traded Quantity"]
data["vp"] = vp
vwap = vp/data["Total Traded Quantity"]

Query 1.5 Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average price AND the profit/loss percentages over the course of last -
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [8]:
data["Close Price"][462] = 709.34
def avg_price(N):
    lastN = data["Close Price"].tail(n=N)
    print("Average close price of last", N ,"days is:")
    print(lastN.mean()) 
    return 
avg_price(52)

Average close price of last 52 days is:
732.9326923076923

In [9]:
def profit_loss(N):
    diff = data["Close Price"][len(data)+1]-data["Close Price"][len(data)+1-(N-1)]
    if (diff > 0):
        print("There is profit of Rs",diff)
    elif(diff < 0):
        print("There is loss of Rs",abs(diff))
        return
profit_loss(90)

There is profit of Rs 50.65000000000009

In [10]:
print("For last 1 week")
avg_price(7),profit_loss(7)
print("For last 2 weeks")
avg_price(14),profit_loss(14)
print("For last 1 month")
avg_price(30),profit_loss(30)
print("For last 3 months")
avg_price(90),profit_loss(90)
print("For last 6 months")
avg_price(180),profit_loss(180)
print("For last 1 year")
avg_price(367),profit_loss(367)

For last 1 week
Average close price of last 7 days is:
720.5
There is loss of Rs 3.8999999999999773
For last 2 weeks
Average close price of last 14 days is:
726.9928571428572
There is loss of Rs 1.349999999999909
For last 1 month
Average close price of last 30 days is:
736.7966666666666
There is loss of Rs 10.0
For last 3 months
Average close price of last 90 days is:
728.6027777777778
There is profit of Rs 50.65000000000009
For last 6 months
Average close price of last 180 days is:
758.6911111111111
There is loss of Rs 710.6499999999999
For last 1 year
Average close price of last 367 days is:
966.89863760218
There is loss of Rs 251.25

(None, None)

Query 1.6 Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [11]:
data["Day_Perc_Change"] = data["Close Price"].pct_change()*100
data["Day_Perc_Change"][0] = 0
print(data["Day_Perc_Change"].head())

0    0.000000
1    0.362566
2   -0.230366
3    0.939337
4   -0.395113
Name: Day_Perc_Change, dtype: float64

1.7 Add another column 'Trend' whose values are:
'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
'Positive' for 'Day_Perc_Change' in between 1 and 3
'Negative' for 'Day_Perc_Change' in between -1 and -3
'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
'Among top losers' for 'Day_Perc_Change' in between -3 and -7
'Bull run' for 'Day_Perc_Change' >7
'Bear drop' for 'Day_Perc_Change' <-7

In [14]:
Trend = []
for i in data.index:
    if -0.5 <= data["Day_Perc_Change"][i] <= 0.5:
        Trend.append ("Slight or No change")
    elif  0.5 <= data["Day_Perc_Change"][i] <= 1:
        Trend.append("Slight Positive")
    elif -1 <= data["Day_Perc_Change"][i] <= -0.5:
        Trend.append("Slight Negative")
    elif  1 <= data["Day_Perc_Change"][i] <= 3:
        Trend.append("Positive")
    elif -3 <= data["Day_Perc_Change"][i] <= -1:
        Trend.append("Negative")
    elif 3 <= data["Day_Perc_Change"][i] <= 7:
        Trend.append("Among top gainers")
    elif -7 <= data["Day_Perc_Change"][i] <= -3:
        Trend.append("Among top losers")
    elif 7 <= data["Day_Perc_Change"][i] :
        Trend.append("Bull run")      
    elif data["Day_Perc_Change"][i] <= -7:
        Trend.append("Bear drop")    

data["Trend"] = Trend

Query 1.8 Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.
{Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [23]:
datatrend = data.groupby("Trend")
print("Median",datatrend["Total Traded Quantity"].median())
print("Mean",datatrend["Total Traded Quantity"].mean())

Median Trend
Among top gainers      12042170.5
Among top losers       10985897.0
Bear drop              48786302.0
Negative                5088554.0
Positive                5523811.5
Slight Negative         4616803.0
Slight Positive         5301784.0
Slight or No change     4043539.5
Name: Total Traded Quantity, dtype: float64
Mean Trend
Among top gainers      1.259063e+07
Among top losers       1.463854e+07
Bear drop              4.878630e+07
Negative               5.634151e+06
Positive               6.655530e+06
Slight Negative        5.454672e+06
Slight Positive        5.848807e+06
Slight or No change    4.647983e+06
Name: Total Traded Quantity, dtype: float64

In [26]:
data.to_csv("week2.csv")